/*Concepto*/
.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 823px;
}

.u-section-1 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
    width: 976px;
    margin: 50px auto 60px;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 577px;
    grid-gap: 50px;
}

.u-section-1 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-2 {
    width: 283px;
    margin: 0 auto;
}

.u-section-1 .u-text-3 {
    margin: 17px 0 0 12px;
}

.u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-4 {
    font-weight: 400;
    width: 283px;
    margin: 0 auto;
}

.u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin: 17px 0 0 12px;
}

.u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-text-6 {
    font-weight: 400;
    width: 283px;
    margin: 0 auto;
}

.u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin: 17px 0 0 12px;
}

.u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-text-8 {
    font-weight: 400;
    width: 283px;
    margin: 0 auto;
}

.u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin: 17px 0 0 12px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }

    .u-section-1 .u-list-1 {
        width: 940px;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 557px;
    }

    .u-section-1 .u-list-item-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-text-2 {
        width: 282px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 18px;
        margin-left: 0;
    }

    .u-section-1 .u-list-item-2 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-text-4 {
        width: 282px;
    }

    .u-section-1 .u-text-5 {
        width: auto;
        margin-top: 18px;
        margin-left: 0;
    }

    .u-section-1 .u-list-item-3 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-text-6 {
        width: 282px;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 18px;
        margin-left: 0;
    }

    .u-section-1 .u-list-item-4 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 300px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 1;
    }

    .u-section-1 .u-text-8 {
        width: 282px;
    }

    .u-section-1 .u-text-9 {
        width: auto;
        margin-top: 18px;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-list-1 {
        width: 720px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 23px;
        padding-right: 23px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-right: 0;
        margin-left: 7px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 14px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 23px;
        padding-right: 23px;
    }

    .u-section-1 .u-text-4 {
        width: auto;
        margin-right: 0;
        margin-left: 7px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 14px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 23px;
        padding-right: 23px;
    }

    .u-section-1 .u-text-6 {
        width: auto;
        margin-right: 0;
        margin-left: 7px;
    }

    .u-section-1 .u-text-7 {
        margin-top: 14px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 23px;
        padding-right: 23px;
    }

    .u-section-1 .u-text-8 {
        width: auto;
        margin-right: 0;
        margin-left: 7px;
    }

    .u-section-1 .u-text-9 {
        margin-top: 14px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 893px;
    }

    .u-section-1 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
        min-height: 737px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 13px;
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-4 {
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 13px;
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-6 {
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-text-7 {
        margin-top: 13px;
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-8 {
        margin-right: 50px;
        margin-left: 60px;
    }

    .u-section-1 .u-text-9 {
        margin-top: 13px;
        margin-right: 50px;
        margin-left: 60px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-4 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-text-5 {
        font-size: 1rem;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-6 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-text-7 {
        font-size: 1rem;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-8 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-text-9 {
        font-size: 1rem;
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 1507px;
}

.u-section-2 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-top: 18px;
    margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
    min-height: 1244px;
    grid-gap: 31px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-text-2 {
    margin: 0;
}

.u-section-2 .u-image-1 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-3 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-4 {
    margin: 0;
}

.u-section-2 .u-image-2 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-5 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px;
}

.u-section-2 .u-text-6 {
    margin: 0;
}

.u-section-2 .u-image-3 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-7 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-4 {
    padding: 30px;
}

.u-section-2 .u-text-8 {
    margin: 0;
}

.u-section-2 .u-image-4 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-9 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-5 {
    padding: 30px;
}

.u-section-2 .u-text-10 {
    margin: 0;
}

.u-section-2 .u-image-5 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-11 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-6 {
    padding: 30px;
}

.u-section-2 .u-text-12 {
    margin: 0;
}

.u-section-2 .u-image-6 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-13 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-7 {
    padding: 30px;
}

.u-section-2 .u-text-14 {
    margin: 0;
}

.u-section-2 .u-image-7 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-15 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-8 {
    padding: 30px;
}

.u-section-2 .u-text-16 {
    margin: 0;
}

.u-section-2 .u-image-8 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-17 {
    margin: 30px 0 0;
}

.u-section-2 .u-container-layout-9 {
    padding: 30px;
}

.u-section-2 .u-text-18 {
    margin: 0;
}

.u-section-2 .u-image-9 {
    height: 170px;
    width: 170px;
    margin: 26px auto 0;
}

.u-section-2 .u-text-19 {
    margin: 30px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.333333333333336% - 20.6667px));
        min-height: 1025px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 15.500024999999999px));
        min-height: 2013px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*DIJk*/

.u-section-1 .u-sheet-1 {
    min-height: 50vw;
}

.u-section-1 .u-text-1 {
    margin: 72px auto 0;
}

.u-section-1 .u-text-2 {
    /* width: 774px; */
    margin: 14px auto 0;
}

.u-section-1 .u-list-1 {
    width: 976px;
    margin: 72px auto 60px;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 598px;
    grid-gap: 50px;
}

.u-section-1 .u-container-layout-1 {
    padding: 0 30px;
}

.u-section-1 .u-text-3 {
    margin: 29px 0 0;
}

.u-section-1 .u-text-4 {
    margin: 19px 0 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 0 30px;
}

.u-section-1 .u-text-5 {
    font-weight: 400;
    margin: 29px 0 0;
}

.u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin: 19px 0 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 30px;
}

.u-section-1 .u-text-7 {
    font-weight: 400;
    margin: 29px 0 0;
}

.u-section-1 .u-text-8 {
    font-size: 1.125rem;
    margin: 19px 0 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 0 30px;
}

.u-section-1 .u-text-9 {
    font-weight: 400;
    margin: 29px 0 0;
}

.u-section-1 .u-text-10 {
    font-size: 1.125rem;
    margin: 19px 0 0;
}

@media (max-width: 1199px) {


    .u-section-1 .u-repeater-1 {
        min-height: 577px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 23px;
        margin-left: 36px;
        margin-right: 36px;
    }

    .u-section-1 .u-text-4 {
        width: auto;
        margin-top: 12px;
        margin-right: 60px;
        margin-left: 11px;
    }

    .u-section-1 .u-text-5 {
        width: auto;
        margin-top: 23px;
        margin-left: 36px;
        margin-right: 36px;
    }

    .u-section-1 .u-text-6 {
        width: auto;
        margin-top: 12px;
        margin-right: 60px;
        margin-left: 11px;
    }


    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 23px;
        margin-left: 36px;
        margin-right: 36px;
    }

    .u-section-1 .u-text-8 {
        width: auto;
        margin-top: 12px;
        margin-right: 60px;
        margin-left: 11px;
    }

    .u-section-1 .u-text-9 {
        width: auto;
        margin-top: 23px;
        margin-left: 36px;
        margin-right: 36px;
    }

    .u-section-1 .u-text-10 {
        width: auto;
        margin-top: 12px;
        margin-right: 60px;
        margin-left: 11px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-2 {
        width: 720px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(1, 100%);
        min-height: 757px;
        grid-auto-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-text-3 {
        margin-top: 17px;
        margin-right: -72px;
        margin-left: 72px;
    }

    .u-section-1 .u-text-4 {
        margin-top: 8px;
        margin-right: 43px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 17px;
        margin-right: -72px;
        margin-left: 72px;
    }

    .u-section-1 .u-text-6 {
        margin-top: 8px;
        margin-right: 43px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-text-7 {
        margin-top: 17px;
        margin-right: -72px;
        margin-left: 72px;
    }

    .u-section-1 .u-text-8 {
        margin-top: 8px;
        margin-right: 43px;
        margin-left: 60px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-text-10 {
        margin-top: 8px;
        margin-right: 43px;
        margin-left: 60px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-2 {
        width: 540px;
    }

    .u-section-1 .u-list-1 {
        margin-top: 45px;
        margin-bottom: 30px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
        min-height: 896px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 15px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-4 {
        margin-top: 9px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 15px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-6 {
        margin-top: 9px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-7 {
        margin-top: 15px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-8 {
        margin-top: 9px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-9 {
        margin-top: 15px;
        margin-right: 110px;
        margin-left: 0;
    }

    .u-section-1 .u-text-10 {
        margin-top: 9px;
        margin-right: 110px;
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-2 {
        width: 340px;
    }

    .u-section-1 .u-list-1 {
        margin-bottom: 23px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 1173px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 31px;
        margin-right: 0;
    }

    .u-section-1 .u-text-4 {
        margin-top: 19px;
        margin-right: 0;
    }

    .u-section-1 .u-text-5 {
        margin-top: 31px;
        margin-right: 0;
    }

    .u-section-1 .u-text-6 {
        font-size: 1rem;
        margin-top: 19px;
        margin-right: 0;
    }

    .u-section-1 .u-text-7 {
        margin-top: 31px;
        margin-right: 0;
    }

    .u-section-1 .u-text-8 {
        font-size: 1rem;
        margin-top: 19px;
        margin-right: 0;
    }

    .u-section-1 .u-text-9 {
        margin-top: 31px;
        margin-right: 0;
    }

    .u-section-1 .u-text-10 {
        font-size: 1rem;
        margin-top: 19px;
        margin-right: 0;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 146px;
}

.u-section-2 .u-text-1 {
    margin: 47px auto;
}

@media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
        --animation-custom_in-translate_x: 0px;
        --animation-custom_in-translate_y: 0px;
        --animation-custom_in-opacity: 0;
        --animation-custom_in-rotate: 0deg;
        --animation-custom_in-scale: 0.3;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 400px;
}

.u-section-3 .u-image-1 {
    width: 857px;
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 291px;
    }

    .u-section-3 .u-image-1 {
        height: 400px;
        margin-top: -73px;
        margin-bottom: -36px;
        width: auto;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 400px;
}

.u-section-4 .u-image-1 {
    width: 872px;
    height: 491px;
    margin: -36px 125px -55px auto;
}

@media (max-width: 1199px) {
    .u-section-4 .u-image-1 {
        margin-right: 68px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 314px;
    }

    .u-section-4 .u-image-1 {
        width: 720px;
        height: 405px;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 213px;
    }

    .u-section-4 .u-image-1 {
        width: 540px;
        height: 304px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 178px;
    }

    .u-section-4 .u-image-1 {
        height: 191px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}

.u-section-5 .u-sheet-1 {
    min-height: 400px;
}

.u-section-5 .u-image-1 {
    width: 875px;
    height: 418px;
    margin: 0 124px -18px auto;
}

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 433px;
    }

    .u-section-5 .u-image-1 {
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
        min-height: 359px;
    }

    .u-section-5 .u-image-1 {
        width: 720px;
        height: 344px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 273px;
    }

    .u-section-5 .u-image-1 {
        width: 540px;
        height: 258px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
        min-height: 162px;
    }

    .u-section-5 .u-image-1 {
        height: 162px;
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}