.u-section-1 .u-text-20 {
    /*width: 818px;*/
    margin: 7px auto 0;
}

.u-section-1 .u-list-1 {
    width: 976px;
    margin: 61px auto 60px;
}


.u-section-2 .u-sheet-1 {
    min-height: 104px;
}

.u-section-2 .u-text-1 {
    margin: 26px auto;
}

.u-section-3 .u-sheet-1 {
    min-height: 773px;
}

.u-section-3 .u-image-10 {
    width: 858px;
    height: 801px;
    margin: 0 auto -28px;
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 644px;
    }

    .u-section-3 .u-image-10 {
        width: 720px;
        height: 672px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-3 .u-image-10 {
        width: 540px;
        height: 504px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 289px;
    }

    .u-section-3 .u-image-10 {
        width: 340px;
        height: 317px;
    }
}