.u-section-1 .u-sheet-1 {
    min-height: 940px;
}

.u-section-1 .u-text-21 {
    width: 818px;
    margin: 14px auto 0;
}

.u-section-1 .u-list-1 {
    width: 976px;
    margin: 53px auto 60px;
}

@media (max-width: 1199px) {

    .u-section-1 .u-list-1 {
        margin-bottom: 55px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 629px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-bottom: 24px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-bottom: 24px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-bottom: 24px;
    }
}

@media (max-width: 991px) {


    .u-section-1 .u-list-1 {
        margin-bottom: 22px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(1, 100%);
        min-height: 873px;
        grid-auto-columns: 100%;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 8px;
    }
}


@media (max-width: 575px) {

    .u-section-1 .u-repeater-1 {
        min-height: 1257px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 121px;
}

.u-section-2 .u-text-1 {
    margin: 34px auto;
}

.u-section-8 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/12.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-8 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-8 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-8 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-8 .u-image-1 {
        min-height: 123px;
    }
}

.u-section-81 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/21.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-81 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-81 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-81 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-81 .u-image-1 {
        min-height: 123px;
    }
}

.u-section-82 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/31.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-82 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-82 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-82 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-82 .u-image-1 {
        min-height: 123px;
    }
}

.u-section-83 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/41.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-83 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-83 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-83 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-83 .u-image-1 {
        min-height: 123px;
    }
}

.u-section-84 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/51.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-84 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-84 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-84 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-84 .u-image-1 {
        min-height: 123px;
    }
}

.u-section-85 .u-image-1 {
    min-height: 400px;
    background-image: url("../assets/images/61.png");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-85 .u-image-1 {
        min-height: 343px;
    }
}

@media (max-width: 991px) {
    .u-section-85 .u-image-1 {
        min-height: 254px;
    }
}

@media (max-width: 767px) {
    .u-section-85 .u-image-1 {
        min-height: 195px;
    }
}

@media (max-width: 575px) {
    .u-section-85 .u-image-1 {
        min-height: 123px;
    }
}